body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(0, 25, 95);
}


.game-container {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: block;
    justify-content: flex-end;
    align-items: top;
    width: 100%;
}


